# BaoStock

http://baostock.com/baostock/index.php/A股K线数据

## A股K线数据

获取历史A股K线数据：query_history_k_data_plus()
方法说明：通过API接口获取A股历史交易数据，可以通过参数设置获取日k线、周k线、月k线，以及5分钟、15分钟、30分钟和60分钟k线数据，适合搭配均线数据进行选股和分析。

返回类型：pandas的DataFrame类型。

能获取1990-12-19至当前时间的数据；

可查询不复权、前复权、后复权数据。

In [7]:
import baostock as bs
import pandas as pd

#### 登陆系统 ####
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

login success!
login respond error_code:0
login respond  error_msg:success

历史行情指标参数
日线指标参数（包含停牌证券）
股票行情数据参数说明（合并表格）

| 参数名称     | 参数描述         | 说明                                                   |
|--------------|------------------|--------------------------------------------------------|
| date         | 交易所行情日期   | 格式：YYYY-MM-DD                                      |
| code         | 证券代码         | 格式：sh.600000（sh: 上海，sz: 深圳）                 |
| open         | 今开盘价格       | 精度：小数点后4位；单位：人民币元                     |
| high         | 最高价           | 精度：小数点后4位；单位：人民币元                     |
| low          | 最低价           | 精度：小数点后4位；单位：人民币元                     |
| close        | 今收盘价         | 精度：小数点后4位；单位：人民币元                     |
| preclose     | 昨日收盘价       | 精度：小数点后4位；单位：人民币元                     |
| volume       | 成交数量         | 单位：股                                              |
| amount       | 成交金额         | 精度：小数点后4位；单位：人民币元                     |
| adjustflag   | 复权状态         | 不复权、前复权、后复权                                |
| turn         | 换手率           | 精度：小数点后6位；单位：%                            |
| tradestatus  | 交易状态         | 1：正常交易；0：停牌                                  |
| pctChg       | 涨跌幅（百分比） | 精度：小数点后6位                                     |
| peTTM        | 滚动市盈率       | 精度：小数点后6位                                     |
| psTTM        | 滚动市销率       | 精度：小数点后6位                                     |
| pcfNcfTTM    | 滚动市现率       | 精度：小数点后6位                                     |
| pbMRQ        | 市净率           | 精度：小数点后6位                                     |
| isST         | 是否ST股         | 1：是；0：否                                          |

In [8]:
#### 获取沪深A股历史K线数据 ####
# 详细指标参数，参见“历史行情指标参数”章节；“分钟线”参数与“日线”参数不同。“分钟线”不包含指数。
# 分钟线指标：date,time,code,open,high,low,close,volume,amount,adjustflag
# 周月线指标：date,code,open,high,low,close,volume,amount,adjustflag,turn,pctChg
rs = bs.query_history_k_data_plus("sh.600000",
    "date,code,open,high,low,close,pre_close,volume,amount,adjustflag,turn,tradestatus,pctChg,peTTM,psTTM,pcfNcfTTM,pbMRQ,isST",
    start_date='2024-07-01', end_date='2024-12-31',
    frequency="d", adjustflag="3")
print('query_history_k_data_plus respond error_code:'+rs.error_code)
print('query_history_k_data_plus respond  error_msg:'+rs.error_msg)

query_history_k_data_plus respond error_code:0
query_history_k_data_plus respond  error_msg:success

In [9]:
rs

In [10]:
rs.get_data()

,date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,peTTM,psTTM,pcfNcfTTM,pbMRQ,isST
0,2024-07-01,sh.600000,8.2200,8.3000,8.2000,8.2800,8.2300,28732962,237294502.0600,3,0.097900,1,0.607500,6.346914,1.423903,3.357732,0.385581,0
1,2024-07-02,sh.600000,8.2700,8.5400,8.2700,8.5300,8.2800,57345810,485897423.6600,3,0.195400,1,3.019300,6.538548,1.466895,3.459113,0.397222,0
2,2024-07-03,sh.600000,8.5300,8.6000,8.4800,8.5300,8.5300,46409668,396512668.3500,3,0.158100,1,0.000000,6.538548,1.466895,3.459113,0.397222,0
3,2024-07-04,sh.600000,8.5900,8.6300,8.4800,8.5000,8.5300,44412066,379773335.1000,3,0.151300,1,-0.351700,6.515552,1.461736,3.446948,0.395825,0
4,2024-07-05,sh.600000,8.5400,8.5500,8.2900,8.3400,8.5000,51997018,436429580.8400,3,0.177100,1,-1.882400,6.392906,1.434221,3.382064,0.388375,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,2024-12-25,sh.600000,10.1300,10.3900,10.1300,10.3500,10.1300,72739600,749135068.9400,3,0.247800,1,2.171800,6.914018,1.782228,1.245894,0.474675,0
121,2024-12-26,sh.600000,10.3500,10.3900,10.1600,10.3400,10.3500,61152236,628394286.5800,3,0.208300,1,-0.096600,6.907338,1.780506,1.244690,0.474217,0
122,2024-12-27,sh.600000,10.3300,10.3900,10.1200,10.3600,10.3400,69506374,714702133.5700,3,0.236800,1,0.193400,6.920698,1.783950,1.247098,0.475134,0
123,2024-12-30,sh.600000,10.3400,10.4900,10.3100,10.4700,10.3600,78477805,818657791.7100,3,0.267400,1,1.061800,6.994181,1.802892,1.260339,0.480179,0
124,2024-12-31,sh.600000,10.4300,10.5600,10.2800,10.2900,10.4700,57783443,602393523.1200,3,0.196900,1,-1.719200,6.873937,1.771896,1.238671,0.471924,0

In [11]:
#### 登出系统 ####
bs.logout()

logout success!

## 其它API
### 获取交易日信息

In [13]:
#### 登陆系统 ####
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

#### 获取交易日信息 ####
rs = bs.query_trade_dates(start_date="2017-01-01", end_date="2027-06-30")
print('query_trade_dates respond error_code:'+rs.error_code)
print('query_trade_dates respond  error_msg:'+rs.error_msg)
rs.get_data()

login success!
login respond error_code:0
login respond  error_msg:success
query_trade_dates respond error_code:0
query_trade_dates respond  error_msg:success

     calendar_date is_trading_day
0       2017-01-01              0
1       2017-01-02              0
2       2017-01-03              1
3       2017-01-04              1
4       2017-01-05              1
...            ...            ...
3282    2025-12-27              0
3283    2025-12-28              0
3284    2025-12-29              1
3285    2025-12-30              1
3286    2025-12-31              1

[3287 rows x 2 columns]

In [14]:
bs.logout()

logout success!

### 获取某日所有证券信息

In [15]:
#### 登陆系统 ####
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)
#### 获取某日所有证券信息 ####
rs = bs.query_all_stock(day="2024-10-25")
print('query_all_stock respond error_code:'+rs.error_code)
print('query_all_stock respond  error_msg:'+rs.error_msg)
rs.get_data()

login success!
login respond error_code:0
login respond  error_msg:success
query_all_stock respond error_code:0
query_all_stock respond  error_msg:success

           code tradeStatus   code_name
0     sh.000001           1      上证综合指数
1     sh.000002           1      上证A股指数
2     sh.000003           1      上证B股指数
3     sh.000004           1     上证工业类指数
4     sh.000005           1     上证商业类指数
...         ...         ...         ...
5641  sz.399994           1  中证信息安全主题指数
5642  sz.399995           1    中证基建工程指数
5643  sz.399996           1    中证智能家居指数
5644  sz.399997           1      中证白酒指数
5645  sz.399998           1      中证煤炭指数

[5646 rows x 3 columns]